<nav>
    <div class="nav__wrapper">
        <ul>
            <div class="nav__content layout__width">
                <h2><a href="/">Home</a></h2>
                <div class="nav__links">
                    <li><a href="/about">About</a></li>
                    <li><a href="/addBoardGame">Add Board Game</a></li>
                </div>
            </div>
        </ul>
    </div>
</nav>