<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <section class="about">
            <article class="about__wrapper layout__width">
                <h1 class="about__title">&#x1F3B2; Board Game Generator &#x1F3B2;</h1>
                <p>Have you ever wondered about which board game to play ? Constant fighting with people about it ? 
                    Fear not, this Board Game Generator is your solution. Let it choose the game for you &#x1F3B2;
                </p>
                <p>There are no restrictions, no pressure! 
                    It is one of the best things about board games. They can be played anywhere and at any time. 
                    The possibilities are endless! This is your chance to play and connect with like-minded people.</p>
            </article>
        </section>
    </body>

</html>