<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="about">
            <div class="about__wrapper layout__width">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Placeat fugit ea architecto enim voluptatibus maxime,
                    provident id quia tempore optio saepe sapiente, voluptatem deleniti
                    aliquam ullam beatae autem quibusdam ad explicabo doloremque asperiores ex debitis assumenda.
                    Totam ipsum, consequatur maiores pariatur quibusdam excepturi repudiandae a dolorum suscipit?
                    Laboriosam ipsa doloribus ipsum, sunt possimus sint qui optio dolor et,
                    illo aut.</p>
            </div>
        </div>
    </body>

</html>