.board-game{
  padding: 0 1.25rem;
}

.board-game__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-games {
  padding: 0 6.25rem;
}

.board-games__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  height: fit-content;
}

.board-games__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board-games__item a {
  width: auto;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100%;

  text-decoration: none;
  color: #333;
  cursor: pointer;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.625rem 1.125rem #888;
}

.generated-board-game__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.generated-board-game__wrapper .board-games__item {
  width: 100%;
  max-width: 31.25rem;
}

.about {
  padding: 0 6.25rem;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.about__wrapper p{
  margin: 0;
}

.about__title {
  text-align: center;
}

.title {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .board-games__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .board-games {
    padding: 0 1.25rem;
  }

  .board-games__wrapper {
    grid-template-columns: 1fr;
  }

  .generated-board-game__wrapper .board-games__item {
    margin: 0 1.25rem;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 0 1.25rem;
  }

  .board-game__wrapper{
    flex-direction: column;
    gap: 1rem;
  }  
}
